nav {
  display: flex;
  justify-content: space-between;
  padding: var(--gap-md);
}

nav a {
  color: black;
  font-size: .9em;
  text-decoration: none;
}

nav a:hover, nav a.active {
  text-decoration: underline;
}
